{% extends 'base.html' %}

{% block content %}
<div class="blog-intro">
    <h1>Welcome to my <span class="blog-title">AI Exploration Hub</span>!</h1>
    <p class="intro-text">Embark on an AI journey with a fresh graduate from the Faculty of Artificial Intelligence, diving into an intricately crafted API designed for learning and growth, fueled by an unwavering passion to master machine learning.</p>
    <div class="social-links">
        <p>Connect with me:</p>
        <a href="https://www.linkedin.com/in/hossamrizk10" target="_blank">LinkedIn</a>
        </br>
        <a href="https://github.com/hossamrizk" target="_blank">GitHub</a>
        </br>
        <a href="https://www.kaggle.com/hossamrizk" target="_blank">Kaggle</a>
    </div>
</div>
{% endblock %}
